.book .book-body .page-wrapper .page-inner section.quiz {
    display: block !important;
    padding: 0px;
    margin: 20px 15px;
    border: 3px lightgray;
    border-style: solid none none none;
    color: #333;
    font-family: sans-serif;
    padding-left: 10px;
}

.page-inner section.quiz .header {
    padding: 5px 0px;
}

.page-inner section.quiz .header h2 {
    margin: 0px;
    font-size: 20px;
}

.page-inner section.quiz .message {
    margin: 15px;
}

.page-inner section.quiz .question .question-header {
    padding: 5px 15px;
    display: none;
}

.page-inner section.quiz .question .question-inner p {
    font-weight: bold;
}

.page-inner section.quiz .question .question-inner .quiz-label {
    font-weight: normal;
    cursor: pointer;
}

.page-inner section.quiz .question table {
    margin-bottom: 10px;
    width: 100%;
}

.page-inner section.quiz .question th,
.page-inner section.quiz .question td {
    padding-right: 5px;
}

.page-inner section.quiz .question li {
    list-style-type: none;
}

.page-inner section.quiz .question li input {
    margin-right: 10px;
}

a.button.action-submit {
    border-radius: 20px;
}

a.button.action-solution {
    border-radius: 20px;
}

.quiz .buttons .size-2 {
    width: 40%;
}

.buttons a:first-child {
    margin-right: 10%;
}
